body {
  background-color: #a0bbe2;
}

#head{
	  text-align: center;
}

#table {
  text-align: center;
  color: #800080;
  margin: auto;
  width: 50%;
  border-radius: 10px;
  border: 1px solid #d9d1eb;
  padding: 10px;
  background: #f0edf8;
  font-family: Arial, sans-serif;
  font-size:25px;
}

table, th, td {
  height:50px;
  padding:10px;
}
#table tr:nth-child(odd){ 
		background: #b8d1f3;
	}

#table tr:nth-child(even){
		background: #b8c1f3;
	}

.button {
	background-color:#6f7cbf;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:13px 25px;
	text-decoration:none;
	text-shadow:0px 0px 0px #283966;
}
.button:hover {
	background-color:#5c69ad;
}
.button:active {
	position:relative;
	top:1px;
}


#label{
  display:inline-block;
  margin-top: 10px;
  font-size: 28px;
  font-family:'Arial',sans-serif;
  color: #f0edf8;
}

input{
  display:inline-block;
  width: 150px;
  margin-top:10px; 
  margin-left:10px;
  height: 50px; 
  text-align: center; 
  color: #484157;
  background: #f0edf8; 
  font-size: 28px; 
  border-color: #f0edf8;
  border-radius:2px; 
  padding: 3px; 
  }
  
  img{
	position: absolute;
	z-index:-5;
	right: 0px;
	bottom: 0px;
	-webkit-mask-image:-webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  }
  






