body{
    background-color: #d6f7c3;
}
.button{
    width:100%;
    background-color: #abcca3;
    color: #ffffff;
    border:1px solid #1f7828;
    margin: auto;
}
.button:hover{
    background-color: #80a16d;
}
#buttons {
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
tbody{
    margin-left: auto;
    margin-right: auto;
}

#groupPageBtn, #encryptionPageBtn{
    width:100%;
}