body {
    background-color:#ffce96;
    color: #f07948;
}

#inputDiv{
    text-align: center;
    justify-content: center;

}

.label{
    text-align: center;
    color:#fffdf5;
}

#group, #keyPairs{
    text-align: center;
    justify-content: center;
}

#keyPairsHead{
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    color:#B52B40;
}

#group{
    width:50%;
    margin-left:25%;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 28px;
    font-family:'Arial',sans-serif;
    color:#B52B40;

}
#group tr{
    background: #ffedd1;
}

input{
    color: #484157;
    background: #f0edf8;
    font-size: 28px;
    border-color: #f0edf8;
}

.table {
    color:#B52B40;
    border: #d9d1eb;
    background: #f8f4ed;
}

.table tr:nth-child(3n+1){
    background: #FACB80;
}

.table tr:nth-child(3n+2){
    background: #fcdaa4;
}
.table tr:nth-child(3n) {
    border: 1px solid black;
    height:12px;
    background:#fcbe5b;
}

#keyPairsTable{
    margin-top: 24px;
}

.button {
    background-color: #f07948;
    color:#ffffff;
    text-shadow: #664a28;
}
.button:hover {
    background-color:#cc683f;
}

.coloured {
    color:#f26500;
}